<div class="heading text-center font-bold text-2xl m-5 text-gray-800">Forgot Your Password?</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl items-center">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none w-full" %>
    </div>

    <div class="buttons flex">
      <%= f.submit "Send me reset password instructions", class: "btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
